*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



/* nav-ber area */
.menu-area .navbar{
    text-align: center;
    align-items: center;
}
.navbar-brand img{
    width: 120px;
}
.navbar-nav .f-width{
    font-weight: 400;
    font-size: 17px;
}
.navbar-nav .f-width:hover{
    color: #27A091;
}
.header-bg-color{
    background-color: #EAFBFC;
    /* background: rgb(247,250,238);
    background: radial-gradient(circle, rgba(247,250,238,1) 13%, rgba(240,254,252,1) 74%);  */
    padding: 10px 0;
}

/* her-section */
.hero-main-sec{
    display: flex;
}
.hero-right-sec img {
	width: 92%;
	padding-top: 20%;
}
.hero-section{
    padding: 150px 100px;
}
.hero-section p{
    font-size: 18px;
    line-height: 45px;
}
.hero-section h1{
    font-size: 40px;
    line-height: 70px;
}
.hero-sec-btn button:first-child{
    background-color: #2dbfae;
    border: none;
    padding: 12px 47px;
    border-radius: 30px;
    color: #FFF;
    font-size: 16px;
}
.hero-sec-btn button:first-child:hover{
    background-color: #27A091;
}

.hero-sec-btn button:last-child{
    background-color: transparent;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    
}
.hero-sec-btn button i{
    padding-right: 10px;
}

/* section two */
.main-section .right-section {
	background-color: #566976;
	max-height: 380px;
}
.right-section .text-width {
	width: 70%;
	margin: auto;
	padding: 115px 0;
}
.right-section h4 {
	color: #FFF;
	font-size: 25px;
	padding: 10px 0;
}
.right-section p {
	color: #FFF;
	font-size: 20px;
	line-height: 31px;
}
/* section 3 */
.section-container{
    padding-top: 80px !important;
}
.container-box{
    display: flex;
    justify-content: space-between;
    padding: 50px 12%;
}
.right-area{
    width: 20%;
}
.img1 img {
	width: 230px;
    margin-right: 10;
}
.img2 img {
	width: 170px;
	margin-left: 14px;
}
.img3 img {
	width: 280px;
	margin-left: -22px;
}
.left-area-box p{
    width: 60%;
    font-size: 20px;
    word-spacing: 2px;
    padding-top: 20px;
}
.left-area-box a{
    text-decoration: none;
    font-size: 20px;
    color: #27A091;
}
.left-area-box a:hover{
    color: #2dbfae;
}
/* Join the community section */
.join-con-box {
    background-color: #F9FBFC;
    height: 740px;
}
.join-con-box .join-hader{
    display: block;
    text-align: center;
    padding: 70px 0;
}
.join-hader h4 {
    padding-bottom: 15px;
}
.join-hader p {
    font-size: 19px;
    line-height: 14px;
}
.join-con-box .blg{
    text-align: center;
    display: block;
}
.social-icon{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.social-icon .box1 i{
    color: #2dbfae;
    font-size: 25px;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
}

/*blog section*/
.blg h4{
    padding: 40px 0;
}
.blog-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: -20px;
}

.blog-section .blog-box{
    border-radius: 8px;
    border: 1px solid rgb(209, 222, 230);
}
.blog-section .blog-box:hover{
    border: 1px solid rgb(105, 118, 126);
}
.blog-box .blog-box-box{
    padding: 0 15px;
}
.blog-box .blog-box-box p{
    font-size: 16px;
    /* padding: 0 0; */
}
.blog-box .blog-box-box span{
    font-size: 15px;
    opacity: 0.5;
}

/*Financial Success*/
.start-section-main-box{
    padding-top: 200px;
}
.start-section-main-box h2{
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
}
.start-main-box {
	display: flex;
	justify-content: space-evenly;
	padding-top: 50px;
    align-items: center;
    text-align: center;
}
.start-main-box .Start-box {
	margin: 0 10px;
	/* background-color: #2dbfae; */
	padding: 0 20px;
	width: 35%;
}
.start-main-box .Start-box img{
    width: 70%;
    display: block;
    margin: auto;
}
.start-main-box .Start-box h5{
    text-align: center;
    padding-top: 13px;
}
.start-main-box .Start-box p{
    text-align: center;
    font-size: 14px;
    line-height: 8px;
    opacity: 0.6;
}
#btn button {
	margin: 30px auto;
	display: block;
	padding: 10px 47px;
	background-color: #1DAE9D;
	border: none;
	color: #FFF;
	border-radius: 5px;
}
#btn button:hover{
    background-color: transparent;
    border: 2px solid #1DAE9D;
    color: #000;
}















/* ---- Responsive -----  */
/* menu area */
@media only screen and (max-width: 486px) {
    .hero-sec-btn button:last-child{
        margin-top: 30px;
    }
    .hero-main-sec{
        flex-direction: column;
    }
    .hero-right-sec img {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 60px;
    }
    .hero-left-sec{
        padding-bottom: 0px;
    }
    .hero-section {
        width: 100%;
        display: block;
        padding: 80px 10px;
    }
    .hero-sec-btn button:first-child {
        background-color: #2dbfae;
        border: none;
        padding: 9px 40px;
        border-radius: 30px;
        color: #FFF;
        font-size: 16px;
        margin-top: 13px;
    }
    .hero-section h1 {
        font-size: 34px;
        line-height: 48px;
    }
    .hero-section p {
        font-size: 18px;
        line-height: 31px;
    }

}
  /* section two */
  @media only screen and (max-width: 720px){
    .main-section{
        flex-direction: column;
    }
    .left-section img{
        width: 100%;
    }
    .main-section .right-section {
        background-color: #566976;
    }
    .right-section .text-width {
        width: 70%;
        margin: auto;
        padding: 72px 0;
    }
  }
  /* section 3 */
  @media only screen and (max-width: 936px){
    .container-box{
        display: flex;
        flex-direction: column;
    }
    .right-area{
        width: 100%;
    }
    .left-area-box p {
        width: 100%;
    }
    .right-area {
        width: 100%;
        padding: 50px 0px 0px 0px;
    }
    .img2 img {
        width: 85%;
        margin-left: 14px;
    }
    .img3 img {
        width: 100%;
        margin: 0;
    }
    .img1 img {
        width: 100%;
        margin-right: 10;
    }
    .left-area .left-area-box{
        padding-top: 0px;
    }
  }


@media only screen and (max-width: 936px) {
    .join-hader p {
        font-size: 19px;
        line-height: 27px;
    }
    .join-con-box {
        background-color: #F9FBFC;
        height: auto;
    }
    .blog-section{
        display: flex;
        flex-direction: column;
    }
    .blog-box img{
        width: 100%;
    }
    .container, .container-md, .container-sm {
        max-width: 720px;
        overflow: hidden;
        clear: both;
        display: block;
    }
    .blog-section .blog-box {
        border: 1px solid rgb(209, 222, 230);
        margin: 30px 10px;
        padding-bottom: 20px;
    }
    .blog-box .blog-box-box p {
        font-size: 17px;
    }

}
/* Financial Success */
@media only screen and (max-width: 936px){
    .start-main-box{
        flex-direction: column;
    }
    .start-main-box .Start-box{
        width: 100%;
    }
    .start-main-box .Start-box img{
        padding: 25px 0;
    }
}


