*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



/* nav-ber area */
.menu-area .navbar{
    text-align: center;
    align-items: center;
}
.navbar-brand img{
    width: 120px;
}
.navbar-nav .f-width{
    font-weight: 400;
    font-size: 17px;
}
.navbar-nav .f-width:hover{
    color: #27A091;
}
.header-bg-color{
    background: rgb(247,250,238);
    background: radial-gradient(circle, rgba(247,250,238,1) 13%, rgba(240,254,252,1) 74%); 
    padding: 10px 0;
}

/* her-section */

.hero-section{
    padding: 150px 100px;
}
.hero-section p{
    font-size: 18px;
    line-height: 45px;
}
.hero-section h1{
    font-size: 40px;
    line-height: 70px;
}
.hero-sec-btn button:first-child{
    background-color: #2dbfae;
    border: none;
    padding: 12px 47px;
    border-radius: 30px;
    color: #FFF;
    font-size: 16px;
}
.hero-sec-btn button:first-child:hover{
    background-color: #27A091;
}

.hero-sec-btn button:last-child{
    background-color: transparent;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    
}
.hero-sec-btn button i{
    padding-right: 10px;
}

/* section two */
.main-section .right-section {
	background-color: #566976;
	max-height: 380px;
}
.right-section .text-width {
	width: 70%;
	margin: auto;
	padding: 115px 0;
}
.right-section h4 {
	color: #FFF;
	font-size: 25px;
	padding: 10px 0;
}
.right-section p {
	color: #FFF;
	font-size: 20px;
	line-height: 31px;
}
/* section 3 */
.section-container{
    padding-top: 80px !important;
}
.container-box{
    display: flex;
    justify-content: space-between;
    padding: 50px 12%;
}
.right-area{
    width: 20%;
}
.right-area img{
    width: 100%;
    padding-top: 45px;
    
}
.left-area-box p{
    width: 60%;
    font-size: 20px;
    word-spacing: 2px;
    padding-top: 20px;
}
.left-area-box a{
    text-decoration: none;
    font-size: 20px;
    color: #27A091;
}
.left-area-box a:hover{
    color: #2dbfae;
}
























/* ---- Responsive -----  */
/* menu area */
@media only screen and (max-width: 486px) {
    .hero-sec-btn button:last-child{
        margin-top: 30px;
    }
    .hero-section {
        width: 100%;
        display: block;
    }
    .hero-sec-btn button:first-child {
        background-color: #2dbfae;
        border: none;
        padding: 9px 40px;
        border-radius: 30px;
        color: #FFF;
        font-size: 16px;
        margin-top: 13px;
    }
    .hero-section h1 {
        font-size: 34px;
        line-height: 48px;
    }
    .hero-section p {
        font-size: 18px;
        line-height: 31px;
        text-align: center;
    }

  }
  /* section two */
  @media only screen and (max-width: 720px){
    .main-section{
        flex-direction: column;
    }
    .left-section img{
        width: 100%;
    }
    .main-section .right-section {
        background-color: #566976;
    }
    .right-section .text-width {
        width: 70%;
        margin: auto;
        padding: 72px 0;
    }
  }






